<table>
<tbody>
  <tr>
    <td>
      <center style="font-size: 18px;">Hello from Draw & Guess!</center>
    </td>
  </tr>
  <tr>
    <td>
      <center style="font-size: 18px;">Your code to reset password is</center>
    </td>
  </tr>
  <tr>
    <td>
      <center style="font-size: 24px; font-weight: bold;">
        {{code}}
      </center>
    </td>
  </tr>
</tbody>
</table>
